@charset "UTF-8";
/* CSS Document */

body {
background: #000;
	font-family: 'Lato', sans-serif;
}

a {
	color: #377bb5;
}

.wrap {
background: #FFF;
	width: 90%;
	max-width: 940px;
	margin: 80px auto;
}

h1 {
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
}

h2 {
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 0;
	font-weight: bold;
}

h3 {
	font-size: 13px;
	margin-top: 0;
	font-weight: bold;
}

hr {
	margin: 15px 0;
	border-top: 1px solid rgba(200,200,200,1.00);
}

.stats {
	display: block;
}

.stats .space-above {
margin-top: 20px;
}
.stats p, .albums li, .yearly p {
	font-weight: bold;
}

.stats p em, .albums p em, .yearly p em {
	font-weight: normal;
	color:rgba(135,133,133,1.00);
}

.stats p span.number {
	font-size: 24px;
	line-height: 28px;
}

.stats img {
	float: left;
	padding-right: 5px;
}

.albums ul {
	margin: 0;
	padding: 0;
}

.albums li {
	float: left;
	list-style: none;
	text-align: center;
	width:30%;
	position: relative;

}

.albums li a {
	display: block;
}

.albums li img {
	width: 94%;
	margin-bottom: 10px;
	margin-right: 3%;
	margin-left: 3%;
	margin-top: 3%

}

.albums li img.jubilee {
	border: 1px solid #ddd;
}

.albums li span.stat-number {
	position: absolute;
	font-size: 35px;
	text-align: center;
	color: #FFF;
	display: block;
	width: 100%;
	top: 20%;
}

.albums li:hover span.stat-number {
display: none;
}

.albums li:hover img.dark {
	display: none;
}

.albums li img.light {
	display: none;
}

.albums li:hover img.light {
	display: block;
}


.badges {
background-color: #e1ebf4;
	padding: 15px;
	margin: 30px 0;
}

.badges ul {
	margin: 0;
	padding: 0;
}
.badges li {
	display: inline;
	list-style: none;
}

.badges li img {
	padding: 10px 13px 0 0;
}

.yearly #footer {
	display: none;
}

#footer .footer-bottom {
	display: none;
}

